<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorry</title>
</head>
<body>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="900" height="506" src="https://www.youtube.com/embed/b5fon2Ce1tw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="900" height="506" src="https://www.youtube.com/embed/zA735wIJ7R8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="900" height="506" src="https://www.youtube.com/embed/rBistsB7pNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" width="1519" height="554" src="https://www.youtube.com/embed/8ELbX5CMomE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>