<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="main.css">
        

        <title>Mashweets</title>
    </head>
    <body>
        
        

        <div class="row topBar">
            <div class="col-sm-4">
                <img src="assests/logo.jpg" class="rounded mx-auto d-block img-fluid logo" alt="Mashweets logo">
            </div>
            <div class="col-sm-4">
                <div class="searchTab">
                <form class="form-inline">
                    <input class="form-control search" type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search"></i>
                </form>
                </div>
            </div>
            <div class="col-sm-4 profile-cart">
                    <div class="row text-center">
                        <div class="col"></div>
                        <div class="col-3">
                        <i class="fa fa-credit-card"></i><br>
                        <span>Wallet</span>
                        </div>
                        <div class="col-3">
                        <i class="fa fa-user"></i><br>
                        <span>Login/SignUp</span>
                        </div>
                        <div class="col-3">
                        <i class="fa fa-shopping-bag"></i><br>
                        <span>Cart</span>
                        </div>
                        <div class="col"></div>

                        
                    </div>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
                <a class="navbar-brand" href="#"><i class="fa fa-meetup fa-2x" aria-hidden="true"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active align-center">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Items</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#cakes">Cakes</a>
                            <a class="dropdown-item" href="#customcakes">Custom Cakes</a>
                            <a class="dropdown-item" href="#">Jar Cakes</a>
                            </div>
                        </li>
                     
                    </ul>
                    <ul class="navbar-nav mr-auto">      
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about_us">About Us</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav">      
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about_us">About Us</a>
                        </li>
                    </ul>
                    
                </div>
            
            </nav>
        
        <div class="container-fluid">
            
            <div class="sectionLight">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Welcome to Mashweets</h1>
                                <p class="lead">Life is Short, Make it Sweet</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col"></div>
                    <div class="col-md-6">
                        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="assests/blushed_oreo_cake.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5>Blushed Oreo Cake</h5>
                                    </div>    
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="assests/choco_ganache_jar_cakes.jpg" alt="Second slide">
                                  <div class="carousel-caption d-none d-md-block">
                                  <h5>Choco Ganache Jar Cake</h5>
                                  </div>    
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="assests/oreo_brownie_mousse.jpg" alt="Third slide">
                                  <div class="carousel-caption d-none d-md-block">
                                  <h5>Oreo brownie Mousse</h5>
                                  </div>    
                                </div>
                            </div>
                          <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            
            <div class="sectionDark" id="cakes" >
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Cakes</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/blushed_oreo_cake.jpg" alt="Blushed Oreo Cake">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Blushed Oreo Cake</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/classic_vanilla_bean_cake.jpg" alt="Classic Vannila Bean Cake">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Classic Vannila Bean Cake</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/vanilla_cake.jpg" alt="Vannila Cake">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Vannila Cake</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/red_velvet_jar_cake.png" alt="Red Velvet Jar Cake">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Red Velvet Jar Cake</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/oreo_brownie_mousse.jpg" alt="Oreo Brownie Mousse">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Oreo Brownie Mousse</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/choco_ganache_jar_cakes.jpg" alt="Choco Ganache Jar Cakes">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Choco Ganache Jar Cakes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/brookies_munch.jpg" alt="Brookies Munch">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Brookies Munch</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/cupcake_box.jpg" alt="Cupcake Box">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Cupcake Box</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="img-fluid imgCenter" src="cake_images/chocolate_chips_brookies_1.jpg" alt="Chocolate Chips Brookies">
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger btn-lg btnCenter">Chocolate Chips Brookies</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="sectionLight" id="customcakes">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Custom Cakes</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                          <div class="row">
                            <div class="col-sm-12">
                                <h1 class="h1 d-block text-center">Cakes</h1>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col"></div>
                            <div class="form-group col-md-2 text-center">
                              <label for="size">Size</label>
                            <select class="form-control btnCenter" id="size">
                              <option value="500">500 Gm</option>
                                <option value="1">1 Kg</option>
                                <option value="1.5">1.5 Kg</option>
                                <option value="2">2 Kg</option>
                            </select>
                            </div>
                            <div class="form-group col-md-2 text-center">
                              <label for="flavour">Flavour</label>
                            <select class="form-control btnCenter" id="flavour">
                              <option value="black_forest">Black Forest</option>
                                <option value="white_forest">White Forest</option>
                                <option value="chocolate_chips">Chocolate Chips</option>
                                <option value="chocolate_mud">Chocolate Mud</option>
                            </select>
                            </div>
                            <div class="form-group col-md-2 text-center">
                               <label for="icing">Icing</label>
                              <select class="form-control btnCenter" id="icing">
                                <option value="chocolate" selected>Chocolate</option>
                                <option value="butter_cream">Butter Cream</option>
                                <option value="vanilla">Whipped(Vanilla)</option>
                                
                            </select>
                            </div>
                              <div class="col"></div>
                          </div>
                        
                          <div class="row">
                            <div class="col-sm-12">
                                <h1 class="h1 d-block text-center">Jar Cakes</h1>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col"></div>
                            <div class="form-group col-md-2 text-center">
                              <label for="choco_ganache">Choco Ganache</label><br>
                              <input type="number" id="choco_ganache" name="choco_ganache" min="0" max="50" value="0">
                            </div>
                            <div class="form-group col-md-2 text-center">
                              <label for="red_velvet">Red Velvet</label><br>
                              <input type="number" id="red_velvet" name="red_velvet" min="0" max="50" value="0">
                
                            </div>
                            <div class="form-group col-md-2 text-center">
                              <label for="chocolate_mud">Chocolate Mud</label><br>
                              <input type="number" id="chocolate_mud" name="chocolate_mud" min="0" max="50" value="0">
                            </div>
                            <div class="col"></div>  
                          </div>
                            
                          <div class="row">
                            <div class="col-sm-12">
                                <h1 class="h1 d-block text-center">Special instructions</h1>
                            </div>
                          </div>
                            
                          <div class="form-row">
                            <div class="col"></div>
                            <div class="form-group col-md-6 text-center">
                                <textarea class="form-control" id="specialinstructions" rows="4"></textarea>
                            </div>
                            <div class="col"></div>  
                          </div>


                          <button class="btn btn-primary" type="submit">Submit form</button>    
                          
                        </form>

                    </div>
                </div>
            </div>
            
            <footer class="footer bg-dark" id="about_us">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="jumbotron jumbotron-fluid footerJumbotron">
                            <div class="container">
                                <h1 class="display-3">Follow us on Social media</h1>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="socialWrapper">
                            <a href="https://www.primevideo.com/detail/0JTBVK6L41AABWSV8DK605AI0U/ref=atv_dp_share_cu_r" target="_blank">
                                <i class="fa fa-facebook-square fa-3x"></i>
                            </a>
                            <a href="https://www.netflix.com/watch/80205342?trackId=254015180&tctx=0%2C0%2C66f514c5-c9f6-44cd-a050-7809da9b8c4f-16946663%2Cd173a98d-9714-4c20-a8d0-ddad860a8cf3_56483032X20XX1596214346231%2Cd173a98d-9714-4c20-a8d0-ddad860a8cf3_ROOT%2C">
                            <i class="fa fa-google-plus-square fa-3x"></i>
                            </a>
                            <a href="https://instagram.com/maashweets?igshid=gcp8ne8f6qm0" target="_blank">
                            <i class="fa fa-instagram fa-3x"></i>
                            </a>
                        </div>
                    </div>
                    <br><br>
                </div>
            </footer>

        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    </body>
</html>